.navbar-hedding{
    text-decoration: none;
    line-height: 0;
    color: rgb(233, 233, 215);
    width: 60%;
    text-align: center;
}
.bg-body-tertiary{
    background-color:#780000 !important;
}
.nav-item{
    display: flex;
    align-items: center;
    font-weight: 500;
    gap: 3px;

}
.bi{
    margin-left: 15px;
}
.nav{
    --bs-nav-link-hover-color: #fdf0d5 !important;
}
.nav-link{
    padding-left: 1px;
    color: #fff;
}

.nav-last{
    text-decoration: none;
    color: #fff;
    font-weight: 700;
   
}
.nav-item:last-child{
    margin-right: 15px;
}
.nav-item svg {
    color: white; 
}
/* .nav-link:hover {

    color: #fdf0d5;
} */
 .nav-link:hover {
    color: #ff4f4f; 
    
}
.bodySections{
    width: 100%;
    height: 80vh;
    min-height: fit-content;
    padding-top: 50px;
    background-color: #fdf0d5;
    display: flex;
    justify-content: space-evenly;
    
}
.left_part{
    
width: fit-content;
height: 300px;
min-height: fit-content;
border: 1px solid #CDCDCD;
box-shadow: 0px 0px 7px 0px;
border-radius: 5px;
padding: 0px 10px 20px 10px;
margin-bottom: 15px;
}
.accordion-button{
    width: 300px;
    padding: 5px;
    margin-top: 20px;
    font-size: 30px;
    font-weight: 630;
    border: 1px solid #CDCDCD;
}

.accordion-button > .bi {
    margin-left: 0px;
    margin-right: 10px;
}
.middle_part{
    width: 40%;
    height: fit-content;
    padding: 10px;
    border-radius: 5px;
    border-color: #fff ;
    box-shadow: 0px 0px 8px 0px;
}
.btn-outline-success{
    border: 0px;
    font-size: 15px;
    font-weight: 700;
    color: rgb(93, 88, 88);
    background-color: #fdf0d5;

}

 .middle_part > .bg-body-tertiary{
    background-color: #c1121f !important; 
    border-radius: 5px;
} 


.Right_part{
    width: 27%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:15px;
}

.upper_right{
    width: 100%;
    height: fit-content;
    min-height: fit-content;
    background-color: transparent;
    border: 1px solid #CDCDCD;

}
.upper_right > h4{
border: 1px solid #CDCDCD;
background-color: #efefef;
padding: 10px;
}
.Lower_right{
    width: 100%;
    height: fit-content;
    min-height: fit-content;
    background-color: transparent;
    border: 1px solid #CDCDCD;
    margin-bottom: 10px;
}
.Lower_right > h4{
    border: 1px solid #CDCDCD;
    background-color: #efefef;
    padding: 10px;
    }
    .form-check {
        display: flex !important;
        justify-content: center;
    }
    .col-12{
        display: flex;
        justify-content: center;
    }
    .btn-primary{
        background-color: #c1121f;
        border: none;
    }
.footer{
    width: 100%;
    height: fit-content;
    background-color: #003049;
    display: flex;
    justify-content: space-between;
    padding: 15px;

}
.border-primary {
    box-shadow: 5px 1px 20px 1px;
}
.card-header{
    font-size: 21px;
    font-weight: 700;
    padding: 5px 15px;
    color: antiquewhite;
}
.card{
    background-color: transparent;
}
.card-text{
    color: blanchedalmond;
}
.footer_list_items{
    
    color: aliceblue;
}