.navbar-hedding{
    text-decoration: none;
    line-height: 0;
    color: rgb(233, 233, 215);
    width: 60%;
    text-align: center;
}
.bg-body-tertiary{
    background-color:#780000 !important;
}
.nav-item{
    display: flex;
    align-items: center;
    font-weight: 500;
    gap: 3px;

}
.bi{
    margin-left: 15px;
}
.nav{
    --bs-nav-link-hover-color: #fdf0d5 !important;
}
.nav-link{
    padding-left: 1px;
    color: #fff;
}

.nav-last{
    text-decoration: none;
    color: #fff;
    font-weight: 700;
   
}
.nav-item:last-child{
    margin-right: 15px;
}
.nav-item svg {
    color: white; 
}
 .nav-link:hover {
    color: #ff4f4f; 
    
}
.middel-part{
    height: fit-content;
    width: 100%;
    background-color: #fdf0d5;
    display: flex;
    justify-content: center;
    padding: 20px 0px 20px 0px;
}
.middel-secation{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    width: 70%;
}
.View_title{
    margin-top: 10px;
    font-size: 40px;
}
.View_subtitle{
    font-size: 25px;
}
.form-control{
    width: 65%;
}

.footer{
    width: 100%;
    height: fit-content;
    background-color: #003049;
    display: flex;
    justify-content: space-between;
    padding: 15px;

}
.border-primary {
    box-shadow: 5px 1px 20px 1px;
}
.card-header{
    font-size: 21px;
    font-weight: 700;
    padding: 5px 15px;
    color: antiquewhite;
}
.card{
    background-color: transparent;
}
.card-text{
    color: blanchedalmond;
}
.footer_list_items{
    
    color: aliceblue;
}
